<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
	    http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
	    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

       <!-- Enables the use of the @AspectJ style of Spring AOP. See org.springframework.context.annotation.EnableAspectJAutoProxy
           Javadoc for information on code-based alternatives to this XML element. -->
       <aop:aspectj-autoproxy expose-proxy="true" />


       <!-- Activates various annotations to be detected in bean classes: Spring's
           @Required and @Autowired, as well as JSR 250's @PostConstruct, @PreDestroy
           and @Resource (if available). -->
       <context:annotation-config />

</beans>